<div class="row">
<div class="col-sm-6">
<div class="row">
<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div class="col-sm-12" id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this pet from being saved:</h2>
 
      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group field col-sm-12">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group field col-sm-12">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_area :description, class: 'form-control'  %>
  </div>
 <div class="form-group field col-sm-12">
    <%= f.label :image, class: 'control-label' %><br>
    <%= f.file_field :image %>
  </div>
   <div class="form-group field col-sm-12">
    <%= f.label :gallery, class: 'control-label' %><br>
    <%= f.file_field :gallery, multiple: true %>
  </div>
  <div class="col-sm-12">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
</div>
</div>
</div>