<div class="container" id="content-wrap">
<div  id="content">
<%= render "houses/admin_widget" %>
<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-sm-12">
<%= link_to '', houses_path, class: 'pull-left fa fa-arrow-circle-o-left fa-2x a-back-big'%>
<%= link_to '', edit_house_path(@house), class: 'pull-right fa fa-pencil-square-o fa-2x a-edit-big' %>
</div>
</div>
<div class="col-sm-3 a-show-thumb">
 <%= image_tag @house.image.thumb.url %>
</div>
<div class="col-sm-9">
<p>
  <strong>Név:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Leírás:</strong>
  <%= @house.description %>
</p>
<p>
	<strong>Galéria:</strong><br>
	<% @house.gallery.each do |p| %>
  <%= image_tag p.thumb.url %>
<% end %>
</p>

</div>
</div>
</div>