<div class="container" id="content-wrap">
<div  id="content">

<div class="show-cover" style="background-image:url(<%= @houses.image.url %>);">
<p>
	<div class="row" id="caption">
	<div class="col-sm-2">
		
<p>
  <strong>Image:</strong>
  <%= image_tag @houses.image.thumb.url %>
</p>
	</div>
	<div class="col-sm-10">
  <strong>Name:</strong>
  <%= @houses.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @houses.description %>
</p>
</div>

</div>
</div>

<p>

	<strong>Gallery:</strong><br>
	<% @houses.gallery.each do |p| %>
  <%= image_tag p.cover.url %>
<% end %>
</p>

</div>
</div>