<div class="container" id="content-wrap">
<div  id="content">
<div class="show-cover" style="background-image:url(<%= @houses.image.url %>);">

	<div class="row" id="caption">
	<div class="col-xs-12 col-sm-2">
		
  <%= image_tag @houses.image.thumb.url %>
	</div>
	<div class="col-xs-12 col-sm-10">
  <strong>Name:</strong>
  <%= @houses.name %>
  <br>
  <strong>Description:</strong>
  <%= @houses.description %>
</div>

</div>
</div>
<hr>
	<div id="gallery">
	<ul class="row" id="lightGallery">
	<% @houses.gallery.each do |p| %>
	<li class="col-sm-4" data-src="<%= p.url %>">
  <%= image_tag p.cover.url, :class => "img-responsive" %>
  </li>
<% end %>
</ul>
</div>
</div>
</div>